<h1>Portfolio items</h1>

<%= link_to "Create new portfolio item", new_portfolio_path if logged_in?(:site_admin) %>

<p><%= new_portfolio_path %></p>
<p><%= new_portfolio_url %></p>

<%= render partial: 'portfolio_item', collection: @portfolio_items %>
	
